<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MLSS - News Detail</title>

  <!-- Custom fonts for this template-->

  {% block headjs %}
  {% include "base/headjs.html" %}
  {% endblock %}


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% block Sidebar %}
    {% include "base/sidebar.html" %}
    {% endblock %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% block navbar %}
        {% include "base/navbar.html" %}
        {% endblock %}
        <!-- End of Topbar -->




        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">LIST NEWS</h1>

        </div>
        <!-- /.container-fluid -->
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-10">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List News</h6>
              </div>
              <div class="card-body">
                 <div class="card-body">
                <div class="row">
                  <div class="col-lg-3">
                    ID :
                  </div>
                  <div class="col-lg-9">
                    {{ data['ID'] }}
                  </div>
                </div>
                   <br>
                   <div class="row">
                     <div class="col-lg-3">
                       TOPIC :
                     </div>
                     <div class ='col-lg-9'>
                       {{ data['TOPIC'] }}
                     </div>
                   </div>
                   <br>
                     <div class="row">
                     <div class="col-lg-3">
                       DETAIL :
                     </div>
                     <div class ='col-lg-9'>
                       {{ data['DETAIL'] }}
                     </div>
                   </div>
                   <br>
                   <div class="row">
                     <div class="col-lg-3">
                       DATENEWS :
                     </div>
                     <div class ='col-lg-9'>
                       {{ data['DATENEWS'] }}
                     </div>
                   </div>
                   <br>
                   <div class="row">
                     <div class="col-lg-3">
                       ID_USER :
                     </div>
                     <div class ='col-lg-9'>
                       {{ data['ID_USER'] }}
                     </div>
                   </div>
                   <br>
                   <div class="row">
                     <div class="col-lg-3">
                       TYPE_ID :
                     </div>
                     <div class ='col-lg-9'>
                       {{ data['TYPE_ID'] }}
                     </div>
                   </div>
                   <br>
                   </div>
                </div>
             </div>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <!-- End of Main Content -->








      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>





  <!-- Logout Modal-->
  {% block logout %}
  {% include "base/logout.html" %}
  {% endblock %}

  <!-- Bootstrap core JavaScript-->
  {% block endjs %}
  {% include "base/endjs.html" %}
  {% endblock %}

</body>

</html>
